@import './themes/default.scss';
@import './layouts/default.scss';
@import './fonts/SF-UI-display.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
#app {
    width: 100%;
    min-height: 100vh;

    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
}

body {
    background-color: var(--bg-color);
}

#app {
    color: var(--font-black-color);
}
